.card{
    margin-top: 2%;
    height: 500px;
    width: 65%;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s ease; /* Animation fluide */
}

.card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Ombre plus visible */
    transform: scale(1.02); /* Légère augmentation de taille */
  }

.divCard{
    width: 33%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.image{
    padding: 15px;
    border-radius: 30px;
    z-index:1;
}

.heart{
    z-index:2;
    cursor: pointer;
    margin-left: 80%;
    
}

.type{
    margin: 0;
    padding-top: 5px;
}

.infosCard{
 padding-left: 15px;
 margin-top: -10%;
}

.adresse{
    font-size: 15px;
    color: rgb(141, 139, 138);
}