
.contact {
    display: flex;
    flex-direction: row;
    border: 1px solid #cccccc;
    margin-bottom: 1%;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.selected {
    background-color: #d1e7fd;
}

.imageProfile {
    border-radius: 20px;
    margin-left: 10px;
}

.userInfo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.userInfoName {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}