.container{
  width: 100vw;
  
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar{
  width: 60%;
  height: 8%;
  background-color: white;
  border-radius: 30px / 25px;
  border: 1px solid rgb(199, 197, 197);
  display: flex;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.type{
  width: 30%;
  border-right: 1px solid rgb(182, 181, 181);
  height: 70%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.age{
  width: 30%;
  border-right: 1px solid rgb(182, 181, 181);
  height: 70%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.genre{
  width: 30%;
  height: 70%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.h4{
  margin: 0;
  height: 50%;
  margin-top: -1%;
}

.select{
  border: none;
  margin-top: 3%;
  color: rgb(176, 173, 173); 
}


.option{
  color: black;
}

.btnSearch{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #01A076;
  margin-top: 40%;
  cursor: pointer;
}

.divNav{
  display: flex;
  width: 100vw;
  height: 10%;
  border-bottom: 1px solid rgb(123, 120, 120);
  justify-content: space-evenly;
  padding-bottom: 1%;
}

.link{
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1%;
}

.divAds{
  display: flex;
	flex-wrap: wrap;
  margin: 0;
	width:100vw;
  height: 100%;
  padding-bottom: 100px;
}